<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wish Item</title>
</head>
<body>
    <a href="/dashboard">Home</a><a href="/logout">Logout</a>
    <h1>{{ item.name }}</h1>
    <p>Users who added this product/item under their wish list:</p>
    <ul>
        {% for user in users%}
        {% if user%}
        <li>{{ user.name }}</li>
        {% endif %}
        {% endfor %}
    </ul>
</body>
</html>